  body{
        background-color: lightskyblue;
        height:100%;
        margin:0;
        font-family: Arial, Helvetica, sans-serif;
    }
    .main-section{
        position:relative;
        background-image:url('background.jpg');
        padding-right:60px;
        margin-left: 40px;
        margin-right:40px;
        margin-top:40px;
    }
    .header-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
        padding-top:20px;
    }
    .signup-button {
        padding-left:20px;
        padding-top:8px;
        padding-bottom:8px;
        padding-right:20px;
        background-color: transparent; 
        border-color: white;
        border-width: 1px;
        border-style: solid;
    }
    .nav-icons {
        width: 20px;
        border-radius: 10px;
    }
    .navigation-bar {
        position: absolute;
        top: 0;
        right:0;
        bottom:0;
        width: 60px;
        display: flex;
        flex-direction: column;
        background-color: rgb(113, 158, 160);
        align-items: center;
        padding-top:40px;
        gap:10px;
    }
     .body-section {
        margin-left:70px;
        margin-top:50px;
        margin-right:40px;
    }
    .heading-section {
        font-size: 50px;
        margin-top:0;
    }
    .info-section {
        font-size: 12px;
    }
    .tour-button {
        margin-top: 20px;
        margin-bottom: 40px;
        padding-left:20px;
        padding-right: 20px;
        padding-top:8px;
        padding-bottom:8px;
        border-style: solid;
    }
    .footer-section {
        display: flex;
        justify-content: space-beween;
        gap: 30px;
        font-size: 12px;
        padding-left: 30px;
        margin-right: 0;
    }
    .detail-section {
        padding-left: 100px;
    }
    .join-section {
        padding-right:0px;
    }
    .menu-icon {
        margin-bottom:40px;
    }
    .twitter-icon {
        margin-bottom:60px;
    }
    .explore-section {
        font-size: 12px;
        writing-mode: vertical-rl;
        margin-bottom:80px;
    }
    .question-icon {
        margin-bottom:40px;
    }
     .video {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:40px;
    }
    @media (min-width:200px) and (max-width:800px) {
        .heading-section{
            font-size: 30px;
        }
        .body-section{
            margin-left:20px;
        }
        .footer-section{
            display: flex;
            justify-content: space-beween;
            gap:0;
            font-size: 3px;
            padding-left: 10px;
            margin-right: 0;
            padding-bottom:10px;
            margin-left:10px;
        }
        .detail-section{
            margin-left: 5px;
        }
        .twitter-icon{
            margin-bottom: 30px;
        }
        .explore-section{
            font-size: 10px;
            margin-bottom:30px;
        }
        .join-section{
            padding-right: 0;
        }
        .navigation-bar{
            width:40px;
        }
        .navline-section{
            width:20px;
        }
        .tour-button{
            font-size: 12px;
            margin-top: 20px;
            margin-bottom: 40px;
            padding-left:10px;
            padding-right: 10px;
            padding-top:5px;
            padding-bottom:5px;
            border-style: solid;
        }
        .video {
            width:200px;
            margin-left:15px;
            margin-right:0;
            gap:20px;
        }
        .info-section {
            font-size: 8px;
        }
    }
    @media (min-width: 1041px) and (max-width:1400px){
        .footer-section{
            display: flex;
            justify-content: space-beween;
            gap:10px;
            padding-left: 10px;
            margin-right: 0;
        }
        .detail-section{
            margin-left:100px;
        }
    }

    @media (min-width:800px) and (max-width:1040px){
        .footer-section{
            font-size: 8px;
            gap:5px;
            display: flex;
            justify-content: space-beween;
            padding-bottom:10px;
        }
        .navigation-bar {
            width:45px;
        }
        .detail-section{
            margin-left: 50px;
        }
        .join-section{
            padding-right: 0;
        }
        .heading-section{
            font-size: 40px;
        }
        .video {
            width:350px;
            margin-left:25px;
            margin-right:0;
            gap:50px;
        }
        .info-section {
            font-size: 12px;
        }
    }

   